# Don't let environment variables like $PATH sneak into the build, which can
# cause massive cache misses when they change.
build --incompatible_strict_action_env

# Speed up all builds by not checking if output files have been modified.
build --noexperimental_check_output_files

# Show test logs for failed tests.
test --test_output=errors

import %workspace%/go.bazelrc
import %workspace%/ts.bazelrc
import %workspace%/java.bazelrc
import %workspace%/rust.bazelrc
import %workspace%/python.bazelrc

# Allow user overrides. This should be the very last line and this file should
# be in .gitignore.
try-import %workspace%/.user.bazelrc
